{% extends 'base.html' %}

{% block content %}
<head>
    <title>{{ page_title }}</title>
</head>

<div class="report-container">
    <h2>Reporte de Predicción de Diabetes</h2>
        
    <!-- Visualización de las predicciones -->
    <div class="report-container">
        <p><strong>Random Forest:</strong> {{ rf_prediction }}%</p>
        <p><strong>Support Vector Machine (SVM):</strong> {{ svm_prediction }}%</p>
        <p><strong>Regresión Logística:</strong> {{ logistic_prediction }}%</p>
    </div> 

    <!-- Botón para descargar el PDF -->
    <div class="download-report">
        <a class="button" href="{% url 'descargar_reporte' %}?download=1&rf_prediction={{ rf_prediction }}&svm_prediction={{ svm_prediction }}&logistic_prediction={{ logistic_prediction }}">
            Descargar Reporte en PDF
        </a>
    </div>
</div>

{% endblock %}
