{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="report-container">
    <h2 class="text-center">Reporte de Casos de Diabetes en Chile</h2>
    <p class="text-center">A continuación se presentan los gráficos interactivos generados a partir de los datos obtenidos del Ministerio de Salud. Utiliza los controles para explorar los datos.</p>

    <div class="graficos-container">
        {% for grafico in graficos %}
        <div class="grafico mb-4">
            <iframe src="{% static grafico|slice:'19:' %}" frameborder="0" width="100%" height="500px"></iframe>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .report-container {
        max-width: 1500px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .text-center {
        text-align: center;
    }
    .graficos-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    @media (min-width: 768px) {
        .graficos-container {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>

{% endblock %}